body {
    background: linear-gradient(#1da0bd, #3de5e8, #99d8da);
}

.encabezado {
    color: #fff;
}

.texto-cargando {
    text-align: center;
}

.inicio {
    background-color: #efeff0;
}

.inicio-texto {
    color: #198aa3;
}

.custom-header {
    text-align: center;
    background-color: #007bff;
    color: #fff;
}

.custom-body {
    background-color: #dcefff;
}

.custom-footer {
    background-color: #31274b;
    color: #fff;
}